# requirements-spark.txt
# Compatible Python 3.8 (apache/spark:3.5.1 embarque Python 3.8)
# ── Parquet ───────────────────────────────────────────────────────
pyarrow==11.0.0
pyspark==3.5.1
# ── Kafka ─────────────────────────────────────────────────────────
kafka-python==2.0.2

# ── Data ──────────────────────────────────────────────────────────
numpy==1.24.4
pandas==1.5.3

# ── Jupyter ───────────────────────────────────────────────────────
jupyter==1.0.0
jupyterlab==3.6.7
ipykernel==6.16.2
ipywidgets==8.0.7
nbconvert==7.6.0

# ── Visualisation ─────────────────────────────────────────────────
matplotlib==3.7.5

# ── Compatibilité ─────────────────────────────────────────────────
findspark==2.0.1

# ── Utilitaires ───────────────────────────────────────────────────
python-dotenv==1.0.0
tqdm==4.66.4